.posttitle {
    font-family: 'Segoe UI Light';
    font-size: large;
    color: #DEB992;
    width: 80%;
    float: left;
}

.buttons {
    width: 20%;
    float: left;
    margin-top: 30px;
}

.buttonpost {
    margin-left: 20px;
}

.buttonsubmitvoice {
    float: right;
    max-width: 200px;
    margin-right: 1000px;
}

.voice {
    color: #DEB992;
}

.userstatus {
    color: #1BA098;
    clear: right;
    clear: left;
}

p {
    color: #DEB992;
}

.transcriptnotes {
    color: #DEB992;
    width: 1200px;
}